.row {
    display: flex;
    margin-top: 2%;
    flex-basis: 23%;
    flex-direction: row;
    justify-content: space-around;
}

body {
    text-align: center;
    background-color: #d3f0fe;
    font-size: 2vh;
    font-family: "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", Dotum, sans-serif;
}

.row:last-of-type {
    /*margin-bottom: 1vh;*/
}

.square {
    border: 1px solid black;
    height: 18vw;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    flex-direction: column;
    flex-basis: 22%;
    background-color: #eee;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 5px 5px 20px #888888;
    color: black;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.square:hover {
    color: #549cfe;
    box-shadow: 7px 7px 30px #5f5f5f;
    text-decoration: underline;
}

.square img {
    width: 60%;
    height: 80%;
    margin: auto;
}

.description {
    display: flex;
    padding: 0 1vw;
    height: 5vw;
}

.description p {
    text-align: center;
    margin: auto;
    font-size: 1.5vw;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
}

.pagination {
    text-align: center;
    margin: 1vh;
}

.pagination a, .pagination strong {
    background: #fff;
    display: inline-block;
    margin-right: 3px;
    padding: 4px 12px;
    text-decoration: none;
    line-height: 1.5em;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pagination a:hover {
    background-color: #BEBEBE;
    color: #fff;
}

.pagination a:active {
    background: rgba(190, 190, 190, 0.75);
}

.pagination strong {
    color: #fff;
    background-color: #BEBEBE;
}